.host-config-win {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 6px;
  margin: 2px;
  padding: 0px;
  float: left;
}

.host-config-item {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 6px;
  margin: 2px 0px;
  padding: 0px;
}

.host-config-item-menu {
  margin: 2px 0px;
  padding: 2px;
}

.host-config-textarea {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 2px;
  width: 360px;
  height: 80px;
  color: #777;
}

.host-config-textarea-small {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 2px;
  width: 360px;
  height: 30px;
  color: #777;
}